<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qunar.flight.flagship.flagtool.dao.airchina.AirchinaDao">


    <!--国航-->
    <!--查询采购订单号-->
    <!--因退款失败邮件中暂时未添加退款原因-->
    <!--dbname：airchina_new-->
    <!--参数orderNo=51140617183436-->
    <select id="queryRefundReason"  parameterType="string" resultType="RefundReasonModel">
        select
        r.id,
        r.reason
        from order_info o
        left join refund_order r on o.id = r.order_id
        where o.main_order_no = #{orderNo}
    </select>

</mapper>
