<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qunar.flight.flagship.flagtool.dao.ceair.CeairDao">

    <!--东航-->
    <!--查询采购订单号,输入订单号-->
    <!--db:ceair_new-->
    <!--参数searchOrderNo-->
    <!--返回条数，1-->
    <select id="selectPurchaseNoByOrderNo"  resultType="PurchaseOrderModel" parameterType="string">
         select
         o.main_order_no as orderNo,
         p.purchase_no as purchaseNo
         from
         pay_record p left join order_info o on p.order_id=o.id
         where
         o.main_order_no = #{searchOrderNo}
         and p.purchase_no is not NULL
    </select>

    <!--通过采购订单号查订单号，输入采购号-->
    <!--db:ceair_new-->
    <!--参数：list-->
    <!--orderNumber=MUFLAGSHIP0012014082827642259-->
    <!--返回条数，多条-->
    <select id="selectOrderNoByPurchaseNo" resultType="PurchaseOrderModel">
      select
      a.main_order_no as orderNo,
      b.purchase_no as purchaseNo
      from
      order_info a inner join pay_record b on a.id=b.order_id
      where
      b.purchase_no
      in
      <foreach collection="list" item="purchaseItem" separator=","
               open="(" close=")">
            #{purchaseItem}
      </foreach>

     </select>

    <!--退款差额统计-->
    <!--统计我们给用户退款的时间，东航给我们退款的时间，以及时间差和订单的一些信息。-->
    <!--db:ceair_new-->
    <!--参数：startDate,endDate-->
    <!--startDate=2014-03-01-->
    <!--返回条数，多条-->
    <select id="refundMarginStatictisInfo" resultType="RefundMoneyModel">
        select
        b.main_order_no as orderNo,
        b.entrance as entrance,
        c.apply_time as applyTime,
        c.refund_time_user as refundOKByQunar,
        a.refund_date as refundOKByAirport,
        c.refund_amount_user as refundAmountUser,
        a.refund_amount as refundAmount,
        a.refund_amount-c.refund_amount_user as marginAmount,
        DATEDIFF(a.refund_date,c.refund_time_user) as marginDay
        from refund_order c
        inner join order_info b on c.order_id=b.id
        left join airline_refund a on c.order_id=a.order_id
        where
        Date(c.refund_time_user) BETWEEN #{startDate} AND #{endDate}
        order by c.refund_time_user limit #{startPage},#{pageSize}
    </select>

    <select id="refundMarginStatictisInfoTotal" resultType="int">
        select
        count(*)
        from refund_order c
        inner join order_info b on c.order_id=b.id
        left join airline_refund a on c.order_id=a.order_id
        where
        Date(c.refund_time_user) BETWEEN #{startDate} AND #{endDate}
        order by c.refund_time_user
    </select>

    <select id="refundMarginStatictisInfoExcel" resultType="RefundMoneyModel">
        select
        b.main_order_no as orderNo,
        b.entrance as entrance,
        c.apply_time as applyTime,
        c.refund_time_user as refundOKByQunar,
        a.refund_date as refundOKByAirport,
        c.refund_amount_user as refundAmountUser,
        a.refund_amount as refundAmount,
        a.refund_amount-c.refund_amount_user as marginAmount,
        DATEDIFF(a.refund_date,c.refund_time_user) as marginDay
        from refund_order c
        inner join order_info b on c.order_id=b.id
        left join airline_refund a on c.order_id=a.order_id
        where
        Date(c.refund_time_user) BETWEEN #{startDate} AND #{endDate}
        order by c.refund_time_user
    </select>

    <!--退款差额统计-->
    <!--统计我们给用户退款的时间，东航给我们退款的时间，以及时间差和订单的一些信息。-->
    <!--查询存在退款差额的sql-->
    <!--db:ceair_new-->
    <!--参数：startDate,endDate-->
    <!--startDate=2014-03-01-->
    <!--返回条数，多条-->
    <select id="refundMarginStatictisInfoExists" resultType="RefundMoneyModel">
       <![CDATA[
         select
         b.main_order_no as orderNo,
         b.entrance as entrance,
         c.apply_time as applyTime,
         c.refund_time_user as refundOKByQunar,
         a.refund_date as refundOKByAirport,
         c.refund_amount_user as refundAmountUser,
         a.refund_amount as refundAmount,
         a.refund_amount-c.refund_amount_user as marginAmount,
         DATEDIFF(a.refund_date,c.refund_time_user) as marginDay
         from refund_order c
         inner join order_info b on c.order_id=b.id
         left join airline_refund a on c.order_id=a.order_id
         where
         a.refund_amount-c.refund_amount_user <> 0
         and Date(c.refund_time_user)
         BETWEEN #{startDate} AND #{endDate} order by c.refund_time_user
         limit #{startPage},#{pageSize}
      ]]>
    </select>



    <select id="refundMarginStatictisInfoExistsTotal" resultType="int">
       <![CDATA[
         select
         count(*)
         from refund_order c
         inner join order_info b on c.order_id=b.id
         left join airline_refund a on c.order_id=a.order_id
         where
         a.refund_amount-c.refund_amount_user <> 0
         and Date(c.refund_time_user)
         BETWEEN #{startDate} AND #{endDate} order by c.refund_time_user
      ]]>
    </select>


    <select id="refundMarginStatictisInfoExistsExcel" resultType="RefundMoneyModel">
       <![CDATA[
         select
         b.main_order_no as orderNo,
         b.entrance as entrance,
         c.apply_time as applyTime,
         c.refund_time_user as refundOKByQunar,
         a.refund_date as refundOKByAirport,
         c.refund_amount_user as refundAmountUser,
         a.refund_amount as refundAmount,
         a.refund_amount-c.refund_amount_user as marginAmount,
         DATEDIFF(a.refund_date,c.refund_time_user) as marginDay
         from refund_order c
         inner join order_info b on c.order_id=b.id
         left join airline_refund a on c.order_id=a.order_id
         where
         a.refund_amount-c.refund_amount_user <> 0
         and Date(c.refund_time_user)
         BETWEEN #{startDate} AND #{endDate} order by c.refund_time_user
      ]]>
    </select>

    <!--东航退票退款记录统计-->
    <!--东航退票退款记录-->
    <!--db:ceair_new-->
    <!--参数：startDate,endDate,sortType-->
    <!--startDate=2014-05-10 00:00:00-->
    <!--sortType=1代表是升序，0代表是降序-->
    <!--返回条数，多条-->
    <select id="refundMoneyLists" resultType="RefoundInfoModel">
        select
        o.main_order_no as orderNo,
        if(o.source, 'wap', 'www') as entrance,
        o.create_time as createTime,
        r.id as refundId,
        r.refund_type as refundType,
        r.reason as reason,
        r.apply_time as applyTime,
        r.refund_time_user as refundOKByQunar,
        r.refund_amount_user as refundAmountUser,
        a.id as callbackId,
        a.refund_date as refundOKByAirport,
        a.refund_amount as refundAmount,
        a.purchase_amount as purchaseAmount
        from
        refund_order r
        left join order_info o on r.order_id = o.id
        left join airline_refund a on a.order_id = o.id
        where
       <![CDATA[
        o.create_time > #{startDate} and o.create_time <= #{endDate}
       ]]>
        <if test="sortType==0">
            order by r.id desc
        </if>
        <if test="sortType==1">
            order by r.id asc
        </if>
        limit #{startPage},#{pageSize}
    </select>


    <select id="refundMoneyListsTotal" resultType="int">
        select
        count(*)
        from
        refund_order r
        left join order_info o on r.order_id = o.id
        left join airline_refund a on a.order_id = o.id
        where
        <![CDATA[
        o.create_time > #{startDate} and o.create_time <= #{endDate}
       ]]>
        <if test="sortType==0">
            order by r.id desc
        </if>
        <if test="sortType==1">
            order by r.id asc
        </if>
    </select>

    <select id="refundMoneyListsExcel" resultType="RefoundInfoModel">
        select
        o.main_order_no as orderNo,
        if(o.source, 'wap', 'www') as entrance,
        o.create_time as createTime,
        r.id as refundId,
        r.refund_type as refundType,
        r.reason as reason,
        r.apply_time as applyTime,
        r.refund_time_user as refundOKByQunar,
        r.refund_amount_user as refundAmountUser,
        a.id as callbackId,
        a.refund_date as refundOKByAirport,
        a.refund_amount as refundAmount,
        a.purchase_amount as purchaseAmount
        from
        refund_order r
        left join order_info o on r.order_id = o.id
        left join airline_refund a on a.order_id = o.id
        where
        <![CDATA[
        o.create_time > #{startDate} and o.create_time <= #{endDate}
       ]]>
        <if test="sortType==0">
            order by r.id desc
        </if>
        <if test="sortType==1">
            order by r.id asc
        </if>
    </select>



    <!--根据订单号查询是否有退票记录-->
    <!--如果查询结果为NULL,则无退票记录,否则会显示退票记录ID和退票原因;-->
    <!--参数：orderNo-->
    <!--orderNo=51140617183436-->
    <!--返回条数，多条-->
    <select id="queryRefundReason"  parameterType="string" resultType="RefundReasonModel">
      select
      r.id,
      r.reason
      from order_info o
      left join refund_order r on o.id = r.order_id
      where o.main_order_no = #{orderNo}
    </select>

</mapper>
